.header__inner{
    text-align: center;
    margin: 0 auto;
    text-align: center;
   
    .nav{
        text-align: center;
       width: 1840px;
       padding-top: 28px;
        display: flex;
        justify-content: space-between;
        .logo{
            a{
                color: #fff;
                text-decoration: none;
                font-size: 36px;
                font-weight: 700px;
                display: flex;
                gap: 10px;
                h1{
                    padding-top: 10px;
                }
                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    
                }
            }
        }
        .header__list{
            width: 333px;
            display: flex;
            justify-content: space-between;
            margin-left: 708px;
            li{
                font-weight: 400;
                font-size: 18px;
                color: #fff;
                padding-top: 20px;
            }
           
        }
    }
}